<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from workscout.in/home-resumes/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Oct 2019 16:01:10 GMT -->
<!-- Added by HTTrack -->
<meta content="text/html;charset=UTF-8" http-equiv="content-type"/><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link href="../xmlrpc.php" rel="pingback">

    <title>Home Resumes &#8211; WorkScout</title>
    <link href='http://maps.google.com/' rel='dns-prefetch'/>
    <link href='http://use.fontawesome.com/' rel='dns-prefetch'/>
    <link href='http://fonts.googleapis.com/' rel='dns-prefetch'/>
    <link href='http://s.w.org/' rel='dns-prefetch'/>
    <link href="../feed/index.html" rel="alternate" title="WorkScout &raquo; Feed" type="application/rss+xml"/>
    <link href="../comments/feed/index.html" rel="alternate" title="WorkScout &raquo; Comments Feed"
          type="application/rss+xml"/>
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/workscout.in\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);

    </script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

    </style>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/purethemes-shortcodes/css/shortcodes.css'
          id='purethemes-shortcodes-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/web-font-social-icons/css/icons.css'
          id='wfsi-socialicons-css' media='all' rel='stylesheet' type='text/css'/>
    <style id='wfsi-socialicons-inline-css' type='text/css'>

                    a.ptwsi-social-icon,
                    a.ptwsi-social-icon:visited,
                    .ptwsi_social-icons li a:visited,
                    .ptwsi_social-icons li a {
                            color: #A0A0A0;
                            background:  #F2F2F2;
                    }

    </style>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:regular,500,600%7CLato:300,regular,700'
          id='ot-google-fonts-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/css/dist/block-library/style.min.css'
          id='wp-block-library-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/contact-form-7/includes/css/styles.css'
          id='contact-form-7-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/revslider/public/assets/css/settings.css'
          id='rs-plugin-settings-css' media='all' rel='stylesheet' type='text/css'/>
    <style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}

    </style>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css'
          id='wp-pagenavi-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-alerts/assets/css/frontend.css'
          id='job-alerts-frontend-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-apply-with-facebook/assets/css/frontend.css'
          id='wp-job-manager-apply-with-facebook-styles-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-tags/assets/css/style.css'
          id='wp-job-manager-tags-frontend-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-wc-paid-listings/assets/css/packages.css'
          id='wc-paid-listings-packages-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/css/base.min.css'
          id='workscout-base-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/css/responsive.min.css'
          id='workscout-responsive-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/css/font-awesome.css'
          id='workscout-font-awesome-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/style.css'
          id='workscout-style-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/css/woocommerce.min.css'
          id='workscout-woocommerce-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css'
          id='js_composer_front-css' media='all' rel='stylesheet' type='text/css'/>
    <link href='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/kirki/assets/css/kirki-styles.css'
          id='kirki-styles-workscout-css' media='all' rel='stylesheet' type='text/css'/>
    <style id='kirki-styles-workscout-inline-css' type='text/css'>
#banner.with-transparent-header .search-container.sc-jobs{padding-top:171px;padding-bottom:171px;}#banner.jobs-search-banner .search-container.sc-jobs{padding-top:171px;padding-bottom:171px;}#banner.with-transparent-header.jobs-search-banner:before{background-color:rgba(42, 46, 50, 0.7);}#banner.jobs-search-banner:before{background-color:rgba(42, 46, 50, 0.7);}#banner.with-transparent-header .search-container.sc-resumes{padding-top:190px;padding-bottom:190px;}#banner.with-transparent-header.resumes-search-banner:before{background-color:rgba(42, 46, 50, 0.7);}body{font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:27px;text-align:left;text-transform:none;color:#666;}#logo h1 a,#logo h2 a{font-family:"Varela Round", Helvetica, Arial, sans-serif;font-size:24px;font-weight:400;line-height:27px;text-align:left;text-transform:none;color:#666;}h1,h2,h3,h4,h5,h6{font-family:Montserrat, Helvetica, Arial, sans-serif;font-weight:400;}

    </style>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/jquery.js'
            type='text/javascript'></script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/jquery-migrate.min.js'
            type='text/javascript'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var ajax_login_object = {"ajaxurl":"https:\/\/workscout.in\/wp-admin\/admin-ajax.php","redirecturl":"https:\/\/workscout.in","redirect_job_dashboard":"https:\/\/workscout.in\/job-dashboard\/","redirect_candidate_dashboard":"https:\/\/workscout.in\/candidate-dashboard\/","loadingmessage":"Sending user info, please wait..."};
/* ]]> */

    </script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/ajax-login-script.min.js'
            type='text/javascript'></script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js'
            type='text/javascript'></script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'
            type='text/javascript'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/workscout.in\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/workscout.in\/cart\/","is_cart":"","cart_redirect_after_add":"yes"};
/* ]]> */

    </script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'
            type='text/javascript'></script>
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js'
            type='text/javascript'></script>
    <script src='https://maps.google.com/maps/api/js?key=AIzaSyCHRQ2IxmNJ6VhPWuERGG0Oev0z5qlXedw&amp;libraries=places&amp;v=3.30'
            type='text/javascript'></script>
    <!-- This site uses the Better Analytics plugin.  https://marketplace.digitalpoint.com/better-analytics.3354/item -->
    <script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/better-analytics/js/loader.php?ver=1.2.3.js'
            type='text/javascript'></script>
    <link href='../wp-json/index.html' rel='https://api.w.org/'/>
    <link href="../xmlrpc0db0.php?rsd" rel="EditURI" title="RSD" type="application/rsd+xml"/>
    <link href="../wp-includes/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml"/>
    <link href="index.html" rel="canonical"/>
    <link href='../indexc89a.html?p=5368' rel='shortlink'/>
    <link href="../wp-json/oembed/1.0/embedbc8d.json?url=https%3A%2F%2Fworkscout.in%2Fhome-resumes%2F" rel="alternate"
          type="application/json+oembed"/>
    <link href="../wp-json/oembed/1.0/embed6e1c?url=https%3A%2F%2Fworkscout.in%2Fhome-resumes%2F&amp;format=xml"
          rel="alternate" type="text/xml+oembed"/>
    <style type="text/css">

.current-menu-item > a,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,
.current-menu-parent a,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.woocommerce-MyAccount-navigation li.is-active a,.woocommerce-MyAccount-navigation li.current-menu-item a,.tabs-nav li.active a, .tabs-nav-o li.active a,.accordion h3.active-acc,.highlight.color, .plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,
.pagination ul li a.current-page,.woocommerce-pagination .current,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,
.infobox,.load_more_resumes,.job-manager-pagination .current,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,
.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked + label:before, .double-bounce1, .double-bounce2,
.widget_range_filter .ui-state-default,.tagcloud a:hover,.filter_by_tag_cloud a.active,.filter_by_tag_cloud a:hover,#wp-calendar tbody td#today,.footer-widget .tagcloud a:hover,.nav-links a:hover, .icon-box.rounded i:after, #mapnav-buttons a:hover,
.comment-by a.comment-reply-link:hover,#jPanelMenu-menu .current-menu-item > a, .button.color { background-color: #26ae61; }

a,table td.title a:hover,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,
.counter,#popular-categories li a i,.single-resume .resume_description.styled-list ul li:before,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resume-spotlight h4, .resumes-content h4,.job-overview ul li i,
.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span ,.app-content .info ul li a:hover,
table td.job_title a:hover,table.manage-table td.action a:hover,.job-spotlight span a:hover,.widget_rss li:before,.widget_rss li a:hover,
.widget_categories li:before,.widget-out-title_categories li:before,.widget_archive li:before,.widget-out-title_archive li:before,
.widget_recent_entries li:before,.widget-out-title_recent_entries li:before,.categories li:before,.widget_meta li:before,.widget_recent_comments li:before,
.widget_nav_menu li:before,.widget_pages li:before,.widget_categories li a:hover,.widget-out-title_categories li a:hover,.widget_archive li a:hover,
.widget-out-title_archive li a:hover,.widget_recent_entries li a:hover,.widget-out-title_recent_entries li a:hover,.categories li a:hover,
.widget_meta li a:hover,#wp-calendar tbody td a,.widget_nav_menu li a:hover,.widget_pages li a:hover,.resume-title a:hover, .company-letters a:hover, .companies-overview li li a:hover,.icon-box.rounded i, .icon-box i,
#titlebar .company-titlebar span a:hover{ color:  #26ae61; }
.icon-box.rounded i { border-color: #26ae61; }
.resumes li a:before,.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before {	-webkit-box-shadow: 0px 1px 0px 0px rgba(38,174,97,0.7);	-moz-box-shadow: 0px 1px 0px 0px rgba(38,174,97,0.7);	box-shadow: 0px 1px 0px 0px rgba(38,174,97,0.7);}
#popular-categories li a:before {-webkit-box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);-moz-box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);}
table.manage-table tr:hover td,.resumes li:hover,.job-list li:hover { border-color: rgba(38,174,97,0.7); }

table.manage-table tr:hover td,.resumes li:hover,.job-list li:hover, #popular-categories li a:hover { background-color: rgba(38,174,97,0.05); }


.resumes.alternative li:before,
.category-small-box:hover { background-color: #26ae61; }
.category-small-box i { color: #26ae61; }

 #logo img {
    max-height: 65px;
}

#search_map {
	height: 450px;
}

	.woocommerce-ordering { display: none; }
	.woocommerce-result-count { display: none; }


@media (max-width: 1290px) {
.sticky-header.cloned { display: none;}
#titlebar.photo-bg.with-transparent-header.single {
    padding-top:200px !important;
}
}




    </style>

    <style type="text/css">

    body {  }
    h1, h2, h3, h4, h5, h6  {  }
    #logo h1 a, #logo h2 a {  }
    body .menu ul > li > a, body .menu ul li a {    }
   

    </style>
    <style>
.job-spotlight span.freelance, .map-box span.job-type.freelance,.new-layout.job_listings > li a span.job-type.freelance { color: #53b427; border: 1px solid #53b427; background-color: rgba( 83,180,39,0.07) }.new-layout.job_listings > li a.job_listing_type-freelance { border-left: 4px solid #53b427 }span.freelance { background-color: #53b427; }.job-spotlight span.full-time, .map-box span.job-type.full-time,.new-layout.job_listings > li a span.job-type.full-time { color: #186fc9; border: 1px solid #186fc9; background-color: rgba( 24,111,201,0.07) }.new-layout.job_listings > li a.job_listing_type-full-time { border-left: 4px solid #186fc9 }span.full-time { background-color: #186fc9; }.job-spotlight span.internship, .map-box span.job-type.internship,.new-layout.job_listings > li a span.job-type.internship { color: #e1d123; border: 1px solid #e1d123; background-color: rgba( 225,209,35,0.07) }.new-layout.job_listings > li a.job_listing_type-internship { border-left: 4px solid #e1d123 }span.internship { background-color: #e1d123; }.job-spotlight span.part-time, .map-box span.job-type.part-time,.new-layout.job_listings > li a span.job-type.part-time { color: #f1630d; border: 1px solid #f1630d; background-color: rgba( 241,99,13,0.07) }.new-layout.job_listings > li a.job_listing_type-part-time { border-left: 4px solid #f1630d }span.part-time { background-color: #f1630d; }.job-spotlight span.temporary, .map-box span.job-type.temporary,.new-layout.job_listings > li a span.job-type.temporary { color: #e12335; border: 1px solid #e12335; background-color: rgba( 225,35,53,0.07) }.new-layout.job_listings > li a.job_listing_type-temporary { border-left: 4px solid #e12335 }span.temporary { background-color: #e12335; }
    </style>
    <noscript>
        <style>.woocommerce-product-gallery{ opacity: 1 !important; }</style>
    </noscript>
    <meta content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." name="generator"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css"
          href="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css"
          media="screen"><![endif]-->
    <meta content="Powered by Slider Revolution 5.4.7.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."
          name="generator"/>
    <script type="text/javascript">function setREVStartSize(e){
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};
    </script>
    <style id="wp-custom-css" type="text/css">
			.job_filters_links { display: none; }

.ui-menu li:last-child {
    border-bottom: 1px solid #e0e0e0;
}
    </style>
    <style data-type="vc_shortcodes-custom-css" type="text/css">.vc_custom_1521229693653{margin-top: 15px !important;}
    </style>
    <noscript>
        <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
    </noscript>
</head>
<body class="page-template page-template-template-home-resumes page-template-template-home-resumes-php page page-id-5368 fullwidth group-blog workscout wpb-js-composer js-comp-ver-5.4.7 vc_responsive">


<div id="wrapper">

    <header class="default sticky-header transparent" id="main-header">
        <div class="container">
            <div class="sixteen columns">

                <!-- Logo -->
                <div id="logo">
                    <a href="../index.html" rel="home" title="WorkScout"><img alt="WorkScout"
                                                                              data-rjs="https://workscout.wpengine.com/wp-content/uploads/2016/10/logo.svg"
                                                                              src="https://workscout.wpengine.com/wp-content/uploads/2016/10/logo2.svg"/></a>
                </div>
                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
                    </button>
                </div>

                <!-- Menu -->

                <nav class="menu" id="navigation">

                    <ul class="menu" id="responsive">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2876"
                            id="menu-item-2876"><a href="../index.html">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2875"
                                    id="menu-item-2875"><a href="../index.html">Home #1</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5659"
                                    id="menu-item-5659"><a href="../home-2/index.html">Home #2</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2878"
                                    id="menu-item-2878"><a href="../home-3/index.html">Home #3</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2879"
                                    id="menu-item-2879"><a href="../home-4/index.html">Home #4</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2880"
                                    id="menu-item-2880"><a href="../home-5/index.html">Home #5</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5368 current_page_item menu-item-5371"
                                    id="menu-item-5371"><a aria-current="page" href="index.html">Home #6 &#8211;
                                    Resumes</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2859"
                            id="menu-item-2859"><a href="#">For Candidates</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2882"
                                    id="menu-item-2882"><a href="../browse-jobs/index.html">Browse Jobs</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8503"
                                    id="menu-item-8503"><a href="../browse-jobs-without-map/index.html">Browse Jobs No
                                    Map</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2883"
                                    id="menu-item-2883"><a href="../browse-categories/index.html">Browse Categories</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2955"
                                    id="menu-item-2955"><a href="../companies/index.html">Browse Companies</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2884"
                                    id="menu-item-2884"><a href="../submit-resume/index.html">Submit Resume</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2885"
                                    id="menu-item-2885"><a href="../candidate-dashboard/index.html">Candidate
                                    Dashboard</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2886"
                                    id="menu-item-2886"><a href="../job-alerts/index.html">Job Alerts</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2891"
                                    id="menu-item-2891"><a href="../my-bookmarks/index.html">My Bookmarks</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2860"
                            id="menu-item-2860"><a href="#">For Employers</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2889"
                                    id="menu-item-2889"><a href="../resumes/index.html">Browse Candidates</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2888"
                                    id="menu-item-2888"><a href="../post-a-job/index.html">Post a Job</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2887"
                                    id="menu-item-2887"><a href="../job-dashboard/index.html">Employer Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2855"
                            id="menu-item-2855"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2856"
                                    id="menu-item-2856"><a href="../job/grader-operator/index.html">Job Page</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2857"
                                    id="menu-item-2857"><a href="../job/restaurant-team-member-crew/index.html">Job Page
                                    Alternative</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2858"
                                    id="menu-item-2858"><a href="../resume/john-smith/index.html">Resume Page</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2881"
                                    id="menu-item-2881"><a href="../shortcodes/index.html">Shortcodes</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2893"
                                    id="menu-item-2893"><a href="../woo-job-packages/index.html">Pricing Tables</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2890"
                                    id="menu-item-2890"><a href="../blog/index.html">Blog</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2892"
                                    id="menu-item-2892"><a href="../contact/index.html">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="float-right">
                        <li><a class="small-dialog popup-with-zoom-anim" href="#signup-dialog"><i
                                class="fa fa-user"></i> Sign Up</a></li>
                        <li><a class="small-dialog popup-with-zoom-anim" href="#login-dialog"><i class="fa fa-lock"></i>
                            Log In</a></li>
                    </ul>
                </nav>
                <div class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-signup-popup"
                     id="signup-dialog">
                    <div class="small-dialog-headline">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="small-dialog-content woo-reg-box">
                        <form class="register workscout_form" method="post">


                            <p class="form-row form-row-wide">
                                <label for="reg_email">Email address <span class="required">*</span>
                                    <i class="ln ln-icon-Mail"></i><input class="input-text" id="reg_email" name="email"
                                                                          type="email" value=""/>
                                </label>
                            </p>


                            <!-- Spam Trap -->
                            <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input
                                    autocomplete="off" id="trap" name="email_2" tabindex="-1" type="text"/></div>

                            <label for="user_email">I&#039;m looking..</label><select class="input chosen-select"
                                                                                      name="role">
                            <option value="employer">..to hire</option>
                            <option value="candidate">.. for a job</option>
                        </select>
                            <p class="form-row">
                                <input id="_wpnonce" name="_wpnonce" type="hidden" value="f35561bff0"/><input
                                    name="_wp_http_referer" type="hidden" value="/home-resumes/"/> <input class="button"
                                                                                                          name="register"
                                                                                                          type="submit"
                                                                                                          value="Register"/>
                            </p>


                        </form>

                    </div>
                </div>
                <div class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-login-popup"
                     id="login-dialog">
                    <div class="small-dialog-headline">
                        <h2>Login</h2>
                    </div>
                    <div class="small-dialog-content woo-reg-box">
                        <form class="login workscout_form" method="post">


                            <p class="form-row form-row-wide">
                                <label for="username">Username or email address <span class="required">*</span>
                                    <i class="ln ln-icon-Male"></i><input class="input-text" id="username"
                                                                          name="username" type="text" value=""/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="password">Password <span class="required">*</span>
                                    <i class="ln ln-icon-Lock-2"></i><input class="input-text" id="password"
                                                                            name="password" type="password"/>
                                </label>
                            </p>


                            <p class="form-row">
                                <input id="_wpnonce" name="_wpnonce" type="hidden" value="15b7a70530"/><input
                                    name="_wp_http_referer" type="hidden" value="/home-resumes/"/> <input class="button"
                                                                                                          name="login"
                                                                                                          type="submit"
                                                                                                          value="Login"/>
                                <label class="inline" for="rememberme">
                                    <input id="rememberme" name="rememberme" type="checkbox" value="forever"/> Remember
                                    me </label>
                            </p>
                            <p class="lost_password">
                                <a href="../my-account/lost-password/index.html">Lost your password?</a>
                            </p>
                            <input name="redirect_to" type="hidden" value="../job-dashboard/index.html"/>


                        </form>

                    </div>
                </div>


            </div>
        </div>
    </header>
    <div class="clearfix"></div>

    <div class="workscout-search-banner  resumes-search-banner  with-transparent-header parallax background "
         data-diff="300" data-img-height="" data-img-width="" id="banner"
         style="background-image: url(https://workscout.wpengine.com/wp-content/uploads/2016/09/banner-home-02.jpg);">
        <div class="container">
            <div class="sixteen columns">

                <div class="search-container sc-resumes">

                    <!-- Form -->
                    <h2>Find Candidate</h2>
                    <form action="https://workscout.in/resumes/" method="GET">

                        <input class="ico-01" id="search_keywords" name="search_keywords"
                               placeholder="Search freelancer services (e.g. logo design)" type="text" value=""/>


                        <input class="ico-02" id="search_location" name="search_location"
                               placeholder="city, province or region" type="text" value=""/>

                        <button><i class="fa fa-search"></i></button>

                    </form>

                    <div class="browse-jobs">
                    </div>
                    <!-- Announce -->
                    <div class="announce">
                        We have <strong>7</strong> resumes in our database
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- 960 Container -->
    <div class="container page-container home-page-container">
        <article class="sixteen columns post-5368 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"><H3 class="margin-top-0 margin-bottom-25">Popular Categories</H3>
                            <ul id="popular-categories">
                                <li>
                                    <a href="../resume-category/writing/index.html"> <i class="fa fa-pencil"></i>Writing
                                        (4)</a>
                                </li>
                                <li>
                                    <a href="../resume-category/translations/index.html"> <i class="fa fa-book"></i>Translations
                                        (2)</a>
                                </li>
                                <li>
                                    <a href="../resume-category/management-finance/index.html"> <i
                                            class="fa fa-money"></i>Management &amp; Finance (1)</a>
                                </li>
                                <li>
                                    <a href="../resume-category/construction-facilities/index.html"> <i
                                            class="fa fa-building"></i>Construction Facilities (1)</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="margin-top-30"></div>
                            <a class="button centered" href="http://workscout.wpengine.com/resumes/">Browse All
                                Categories</a>
                            <div class="margin-bottom-50"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"><H3 class="margin-top-0 margin-bottom-25">Recent Candidates</H3>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="resumes" data-categories="" data-keywords="" data-location=""
                                         data-order="DESC" data-orderby="featured" data-per_page="4"
                                         data-show_filters="false" data-show_pagination="false">
                                        <!-- Listings Loader -->
                                        <div class="listings-loader">
                                            <div class="spinner">
                                                <div class="double-bounce1"></div>
                                                <div class="double-bounce2"></div>
                                            </div>
                                        </div>

                                        <ul class="resumes alternative">
                                            <li class="resume resume_featured post-2539 type-resume status-publish hentry resume_category-writing resume_skill-content resume_skill-corporate-branding resume_skill-marketing"
                                                data-color="#333333" data-latitude="51.5217064"
                                                data-longitude="-0.0722892999999658">
                                                <a class="photo-rounded" href="../resume/tom-smith/index.html">
                                                    <img alt="Photo" class="candidate_photo"
                                                         src="https://workscout.wpengine.com/wp-content/uploads/2015/10/Untitled-14.png"/>
                                                    <div class="resumes-content">
                                                        <h4>Lucas Harris <span>Content Marketing and Strategy</span>
                                                        </h4>
                                                        <span><i class="fa fa-map-marker"></i> UK Ltd, Brick Lane, London, United Kingdom</span>
                                                        <span class="icons"><i class="fa fa-money"></i>
				&#36;15 / hour</span>
                                                        <p>
                                                        <p>Few words about me and myself &nbsp; Maecenas suscipit vel
                                                            risus at ultrices. Etiam dui sapien, feugiat semper
                                                            convallis ut, luctus vitae turpis. Nulla nec volutpat
                                                            tellus. Suspendisse vel tellus&#8230;</p>
                                                        </p>

                                                        <div class="skills">
                                                            <span>content</span><span>corporate branding</span><span>marketing</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </a>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="resume post-2546 type-resume status-publish hentry resume_category-management-finance resume_skill-management resume_skill-marketing"
                                                data-color="#333333" data-latitude="38.8742785"
                                                data-longitude="-77.2269262">
                                                <a class="photo-rounded" href="../resume/tom-moore/index.html">
                                                    <img alt="Photo" class="candidate_photo"
                                                         src="https://workscout.wpengine.com/wp-content/uploads/2015/10/Untitled-13.png"/>
                                                    <div class="resumes-content">
                                                        <h4>David Moore <span>Business Planning</span></h4>
                                                        <span><i class="fa fa-map-marker"></i> Merrifield</span>
                                                        <span class="icons"><i class="fa fa-money"></i>
				&#36;20 / hour</span>
                                                        <p>
                                                        <p>About Me &nbsp; Maecenas suscipit vel risus at ultrices.
                                                            Etiam dui sapien, feugiat semper convallis ut, luctus vitae
                                                            turpis. Nulla nec volutpat tellus. Suspendisse vel tellus ut
                                                            est sollicitudin cursus&#8230;.</p>
                                                        </p>

                                                        <div class="skills">
                                                            <span>management</span><span>marketing</span></div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </a>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="resume post-2545 type-resume status-publish hentry resume_category-translations resume_category-writing resume_skill-content-management resume_skill-editing resume_skill-management resume_skill-translation"
                                                data-color="#333333" data-latitude="41.8781136"
                                                data-longitude="-87.6297982">
                                                <a class="photo-rounded" href="../resume/mike-jackson/index.html">
                                                    <img alt="Logo" class="candidate_photo"
                                                         src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-resumes/assets/images/candidate.png"/>
                                                    <div class="resumes-content">
                                                        <h4>Mike Jackson <span>Translation and Content Managment</span>
                                                        </h4>
                                                        <span><i class="fa fa-map-marker"></i> Chicago</span>
                                                        <span class="icons"><i class="fa fa-money"></i>
				&#36;25 / hour</span>
                                                        <p>
                                                        <p>Who I Am &nbsp; Maecenas sit amet elementum est. Vivamus eget
                                                            ornare neque. Mauris pretium libero felis. Curabitur
                                                            pharetra ornare magna, porttitor dignissim metus venenatis
                                                            vel. Suspendisse ex purus, ultricies&#8230;</p>
                                                        </p>

                                                        <div class="skills">
                                                            <span>content management</span><span>editing</span><span>management</span><span>translation</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </a>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="resume post-2541 type-resume status-publish hentry resume_category-writing resume_skill-childcare-qualifications resume_skill-first-aid-certificate"
                                                data-color="#333333" data-latitude="51.55170589999999"
                                                data-longitude="-0.15882550000003448">
                                                <a class="photo-rounded" href="../resume/kathy-smith/index.html">
                                                    <img alt="Photo" class="candidate_photo"
                                                         src="https://workscout.wpengine.com/wp-content/uploads/2015/10/resumes-list-avatar-02.png"/>
                                                    <div class="resumes-content">
                                                        <h4>Kathy Smith <span>Babysitter</span></h4>
                                                        <span><i class="fa fa-map-marker"></i> London Borough of Camden, United Kingdom</span>
                                                        <span class="icons"><i class="fa fa-money"></i>
				&#36;15 / hour</span>
                                                        <p>
                                                        <p>About Me &nbsp; I&#8217;m an experienced children&#8217;s
                                                            nurse who was working in London but am currently wanting a
                                                            change and looking at nannying. I am CRB checked and am
                                                            paediatric&#8230;</p>
                                                        </p>

                                                        <div class="skills">
                                                            <span>Childcare Qualifications</span><span>First Aid Certificate</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </a>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>


                                        <a class="load_more_resumes" href="#"><strong>Load more resumes</strong></a>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h3 class="margin-bottom-5">Resumes Spotlight</h3>
                            <!-- Navigation -->
                            <div class="showbiz-navigation">
                                <div class="sb-navigation-left" id="showbiz_left_71"><i class="fa fa-angle-left"></i>
                                </div>
                                <div class="sb-navigation-right" id="showbiz_right_71"><i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <!-- Showbiz Container -->
                            <div class="job-spotlight-car showbiz-container" data-autoplay="off" data-delay="5000"
                                 data-visible="[1,1,1,1]" id="job-spotlight">
                                <div class="showbiz" data-left="#showbiz_left_71" data-play="#showbiz_play_71"
                                     data-right="#showbiz_right_71">
                                    <div class="overflowholder">
                                        <ul>
                                            <li>
                                                <div class="resume-spotlight photo-rounded">
                                                    <a href="../resume/tom-moore/index.html"><h4>David Moore <span>Business Planning</span>
                                                    </h4></a>
                                                    <span><i class="fa fa-map-marker"></i> <a
                                                            class="google_map_link candidate-location"
                                                            href="http://maps.google.com/maps?q=Merrifield&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false">Merrifield</a></span>

                                                    <span>
                                        <i class="fa fa-money"></i> &#36;20 / hour                                    </span>


                                                    <p>About Me &nbsp; Maecenas suscipit vel risus at ultrices. Etiam
                                                        dui sapien, feugiat semper convallis ut, luctus vitae turpis.
                                                        Nulla...
                                                    </p>
                                                    <div class="skills">
                                                        <span>management</span><span>marketing</span></div>
                                                    <div class="clearfix"></div>
                                                    <a class="button" href="../resume/tom-moore/index.html">Contact
                                                        Candidate</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="resume-spotlight photo-rounded">
                                                    <a href="../resume/mike-jackson/index.html"><h4>Mike Jackson <span>Translation and Content Managment</span>
                                                    </h4></a>
                                                    <span><i class="fa fa-map-marker"></i> <a
                                                            class="google_map_link candidate-location"
                                                            href="http://maps.google.com/maps?q=Chicago&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false">Chicago</a></span>

                                                    <span>
                                        <i class="fa fa-money"></i> &#36;25 / hour                                    </span>


                                                    <p>Who I Am &nbsp; Maecenas sit amet elementum est. Vivamus eget
                                                        ornare neque. Mauris pretium libero felis. Curabitur pharetra
                                                        ornare...
                                                    </p>
                                                    <div class="skills">
                                                        <span>content management</span><span>editing</span><span>management</span><span>translation</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <a class="button" href="../resume/mike-jackson/index.html">Contact
                                                        Candidate</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="resume-spotlight photo-rounded">
                                                    <a href="../resume/kathy-smith/index.html"><h4>Kathy Smith <span>Babysitter</span>
                                                    </h4></a>
                                                    <span><i class="fa fa-map-marker"></i> <a
                                                            class="google_map_link candidate-location"
                                                            href="http://maps.google.com/maps?q=London+Borough+of+Camden%2C+United+Kingdom&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false">London Borough of Camden, United Kingdom</a></span>

                                                    <span>
                                        <i class="fa fa-money"></i> &#36;15 / hour                                    </span>


                                                    <p>About Me &nbsp; I&#8217;m an experienced children&#8217;s nurse
                                                        who was working in London but am currently wanting a change
                                                        and...
                                                    </p>
                                                    <div class="skills">
                                                        <span>Childcare Qualifications</span><span>First Aid Certificate</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <a class="button" href="../resume/kathy-smith/index.html">Contact
                                                        Candidate</a>
                                                </div>
                                            </li>

                                        </ul>
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1521229693653 vc_row-no-padding" data-vc-full-width="true"
                 data-vc-full-width-init="false" data-vc-stretch-content="true">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"><!-- Testimonials -->
                            <div id="testimonials"
                                 style="background-image: url(https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/11/testimonials-bg.jpg);">
                                <!-- Slider -->
                                <div class="container">
                                    <div class="sixteen columns">
                                        <div class="testimonials-slider">
                                            <ul class="slides">
                                                <li>
                                                    <p>I have already heard back about the internship I applied through
                                                        WorkScout, that's the fastest job reply I've ever gotten and
                                                        it's so much better than waiting weeks to hear back.
                                                        <span>John Smith, Jobseeker</span></p>
                                                </li>
                                                <li>
                                                    <p>Nam eu eleifend nulla. Duis consectetur sit amet risus sit amet
                                                        venenatis. Pellentesque pulvinar ante a tincidunt placerat.
                                                        Donec dapibus efficitur arcu, a rhoncus lectus egestas
                                                        elementum.
                                                        <span>Tom Wilson, HR Specialist</span></p>
                                                </li>
                                                <li>
                                                    <p>Nam eu eleifend nulla. Duis consectetur sit amet risus sit amet
                                                        venenatis. Pellentesque pulvinar ante a tincidunt placerat.
                                                        Donec dapibus efficitur arcu, a rhoncus lectus egestas
                                                        elementum.
                                                        <span>Anna Smith, Jobseeker</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding" data-vc-full-width="true"
                 data-vc-full-width-init="false" data-vc-stretch-content="true">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="infobox">
                                Start Building Your Own Job Board Now <a href="#">Get Started</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"><H3 class="margin-top-0 margin-bottom-25"> Recent Posts</H3>
                            <div class="recent-blog-posts vc_row vc_no-gutters">
                                <div class="vc_col-sm-4 wpb_column alpha">
                                    <article class="recent-post">
                                        <figure class="recent-post-img">
                                            <a href="../2015/10/11-tips-to-help-you-get-new-clients-through-cold-calling/index.html"><img
                                                    alt=""
                                                    class="attachment-workscout-small-blog size-workscout-small-blog wp-post-image"
                                                    height="315"
                                                    src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/blog-post-03-498x315.jpg"
                                                    width="498"/></a>
                                            <div class="hover-icon"></div>
                                        </figure>

                                        <section class="from-the-blog-content">
                                            <a href="../2015/10/11-tips-to-help-you-get-new-clients-through-cold-calling/index.html">
                                                <h4>11 Tips to Help You Get New Clients Through Cold Calling</h4></a>
                                            <div class="meta-tags"></div>
                                            <p>Objectively innovate empowered manufactured products whereas parallel
                                                platforms. Holisticly predominate</p>
                                            <a class="button"
                                               href="../2015/10/11-tips-to-help-you-get-new-clients-through-cold-calling/index.html">Read
                                                More</a>
                                        </section>

                                    </article>
                                </div>
                                <div class="vc_col-sm-4 wpb_column ">
                                    <article class="recent-post">
                                        <figure class="recent-post-img">
                                            <a href="../2015/10/how-to-woo-a-recruiter-and-land-your-dream-job/index.html"><img
                                                    alt=""
                                                    class="attachment-workscout-small-blog size-workscout-small-blog wp-post-image"
                                                    height="315"
                                                    src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/blog-post-02-498x315.jpg"
                                                    width="498"/></a>
                                            <div class="hover-icon"></div>
                                        </figure>

                                        <section class="from-the-blog-content">
                                            <a href="../2015/10/how-to-woo-a-recruiter-and-land-your-dream-job/index.html">
                                                <h4>How to &#8220;Woo&#8221; a Recruiter and Land Your Dream Job</h4>
                                            </a>
                                            <div class="meta-tags"></div>
                                            <p>Collaboratively administrate empowered markets via plug-and-play
                                                networks. Dynamically procrastinate B2C</p>
                                            <a class="button"
                                               href="../2015/10/how-to-woo-a-recruiter-and-land-your-dream-job/index.html">Read
                                                More</a>
                                        </section>

                                    </article>
                                </div>
                                <div class="vc_col-sm-4 wpb_column omega">
                                    <article class="recent-post">
                                        <figure class="recent-post-img">
                                            <a href="../2015/10/hey-job-seeker-its-time-to-get-up-and-get-hired/index.html"><img
                                                    alt=""
                                                    class="attachment-workscout-small-blog size-workscout-small-blog wp-post-image"
                                                    height="315"
                                                    src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/blog-post-01-498x315.jpg"
                                                    width="498"/></a>
                                            <div class="hover-icon"></div>
                                        </figure>

                                        <section class="from-the-blog-content">
                                            <a href="../2015/10/hey-job-seeker-its-time-to-get-up-and-get-hired/index.html">
                                                <h4>Hey Job Seeker, Its Time To Get Up And Get Hired</h4></a>
                                            <div class="meta-tags"></div>
                                            <p>One morning, when Gregor Samsa woke from troubled dreams, he</p>
                                            <a class="button"
                                               href="../2015/10/hey-job-seeker-its-time-to-get-up-and-get-hired/index.html">Read
                                                More</a>
                                        </section>

                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <!-- Footer
    ================================================== -->
    <div class="margin-top-45"></div>

    <div id="footer">
        <!-- Main -->
        <div class="container">
            <div class="seven columns">
                <aside class="footer-widget widget_text" id="text-3"><h4>About</h4>
                    <div class="textwidget"><p>WorkScout is a fully functioning job board Theme for WordPress developed
                        with the popular free WordPress Plugin WP Job Manager.</p>
                        <a class="button"
                           href="https://themeforest.net/item/workscout-job-board-wordpress-theme/13591801?ref=purethemes">Learn
                            More</a></div>
                </aside>
            </div>
            <div class="three columns">
                <aside class="footer-widget widget_nav_menu" id="nav_menu-2"><h4>For Candidates</h4>
                    <div class="menu-footer-for-candidates-container">
                        <ul class="menu" id="menu-footer-for-candidates">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2843"
                                id="menu-item-2843"><a href="../browse-jobs/index.html">Browse Jobs</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2844"
                                id="menu-item-2844"><a href="../browse-categories/index.html">Browse Categories</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2845"
                                id="menu-item-2845"><a href="../submit-resume/index.html">Submit Resume</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2846"
                                id="menu-item-2846"><a href="../candidate-dashboard/index.html">Candidate Dashboard</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2847"
                                id="menu-item-2847"><a href="#">Job Alerts</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2848"
                                id="menu-item-2848"><a href="#">My Bookmarks</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="three columns">
                <aside class="footer-widget widget_nav_menu" id="nav_menu-3"><h4>For Employers</h4>
                    <div class="menu-footer-for-employers-container">
                        <ul class="menu" id="menu-footer-for-employers">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2861"
                                id="menu-item-2861"><a href="#">Browse Candidates</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2863"
                                id="menu-item-2863"><a href="#">Employer Dashboard</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2862"
                                id="menu-item-2862"><a href="#">Add Job</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2864"
                                id="menu-item-2864"><a href="#">Job Packages</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="three columns">
                <aside class="footer-widget widget_nav_menu" id="nav_menu-4"><h4>Other</h4>
                    <div class="menu-footer-other-container">
                        <ul class="menu" id="menu-footer-other">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2877"
                                id="menu-item-2877"><a href="../shortcodes/index.html">Shortcodes</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2865"
                                id="menu-item-2865"><a href="#">Job Page</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2866"
                                id="menu-item-2866"><a href="#">Job Page Alternative</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2867"
                                id="menu-item-2867"><a href="#">Resume Page</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2868"
                                id="menu-item-2868"><a href="#">Blog</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2872"
                                id="menu-item-2872"><a href="../contact/index.html">Contact</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>

        <!-- Bottom -->
        <div class="container">
            <div class="footer-bottom">
                <div class="sixteen columns">

                    <h4>Follow us</h4>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
                        </li>
                        <li><a class="twitter" href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                        </li>
                        <li><a class="gplus" href="#" target="_blank" title="GooglePlus"><i class="icon-gplus"></i></a>
                        </li>
                        <li><a class="linkedin" href="#" target="_blank" title="LinkdedIn"><i class="icon-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="copyrights">&copy; Theme by Purethemes.net. All Rights Reserved.</div>
                </div>
            </div>
        </div>

    </div>

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    <div id="ajax_response"></div>
</div>
<!-- Wrapper / End -->


<meta content=""
      data-o="{&quot;tid&quot;:&quot;UA-43309925-3&quot;,&quot;co&quot;:&quot;auto&quot;,&quot;g&quot;:1073810280,&quot;dl&quot;:&quot;\\.avi|\\.doc|\\.exe|\\.gz|\\.mpg|\\.mp3|\\.pdf|\\.ppt|\\.psd|\\.rar|\\.wmv|\\.xls|\\.zip&quot;,&quot;s&quot;:0,&quot;a&quot;:0,&quot;d&quot;:{&quot;a&quot;:[2,&quot;\u0141ukasz Girek&quot;],&quot;y&quot;:[4,2016],&quot;r&quot;:[5,&quot;guest&quot;]}}"
      id="ba_s" property="options"/>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/purethemes-shortcodes/js/shortcodes.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/workscout.in\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/contact-form-7/includes/js/scripts.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/workscout.in\/?wc-ajax=%%endpoint%%"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"https:\/\/workscout.in\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_baa422df514c9e663597e37d00ee87cc","fragment_name":"wc_fragments_baa422df514c9e663597e37d00ee87cc"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/core.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/widget.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/position.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/menu.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/wp-sanitize.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/wp-a11y.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var uiAutocompleteL10n = {"noResults":"No results found.","oneResult":"1 result found. Use up and down arrow keys to navigate.","manyResults":"%d results found. Use up and down arrow keys to navigate.","itemSelected":"Item selected."};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/autocomplete.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/skip-link-focus-fix.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/mouse.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/slider.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/slick.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/chosen.jquery.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/hoverIntent.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.counterup.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.flexslider-min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/markerclusterer.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wsmap = {"marker_color":"#515151","use_clusters":"1","autofit":"1","default_zoom":"10","map_type":"ROADMAP","scroll_zoom":"","geocode":"1","centerPoint":"","country":""};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/workscout.map.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wssmap = {"marker_color":"#515151","single_zoom":"10"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/workscout.single.map.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.gmaps.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/mmenu.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.isotope.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.magnific-popup.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.superfish.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.themepunch.tools.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/jquery.themepunch.showbizpro.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/stacktable.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/waypoints.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/headroom.min.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ws = {"logo":"https:\/\/workscout.wpengine.com\/wp-content\/uploads\/2016\/10\/logo.svg","retinalogo":"https:\/\/workscout.wpengine.com\/wp-content\/uploads\/2016\/10\/logo.svg","transparentlogo":"https:\/\/workscout.wpengine.com\/wp-content\/uploads\/2016\/10\/logo2.svg","transparentretinalogo":"https:\/\/workscout.wpengine.com\/wp-content\/uploads\/2016\/10\/logo2.svg","ajaxurl":"\/wp-admin\/admin-ajax.php","theme_color":"#26ae61","woo_account_page":"https:\/\/workscout.in\/my-account\/","theme_url":"https:\/\/workscout.in\/wp-content\/themes\/workscout","header_breakpoint":"1290","no_results_text":"No results match"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/dev/custom.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var job_manager_chosen_multiselect_args = {"search_contains":"1"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager/assets/js/jquery-chosen/chosen.jquery.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager-locations/assets/js/main.js'
        type='text/javascript'></script>
<script src='https://use.fontawesome.com/30858dc40a.js' type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-includes/js/wp-embed.min.js'
        type='text/javascript'></script>
<script src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js' type='text/javascript'></script>
<script type='text/javascript'>
WebFont.load({google:{families:['Montserrat:400:cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai', 'Varela Round:400:cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai']}});

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js'
        type='text/javascript'></script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/plugins/wp-job-manager/assets/js/jquery-deserialize/jquery.deserialize.js'
        type='text/javascript'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var resume_manager_ajax_filters = {"ajax_url":"\/wp-admin\/admin-ajax.php","rate_min":"12","rate_max":"45","currency":"$","showing_all":"Showing all resumes"};
/* ]]> */

</script>
<script src='https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/themes/workscout/js/workscout-resumes-ajax-filters.min.js'
        type='text/javascript'></script>
<script type="text/javascript">
        (function($){
        

        $(document).ready(function(){

            $( '.sc-jobs #search_keywords' ).autocomplete({
                
                source: function(req, response){
                    $.getJSON('https://workscout.in/wp-admin/admin-ajax.php'+'?callback=?&action=workscout_incremental_jobs_suggest', req, response);
                },
                select: function(event, ui) {
                    window.location.href=ui.item.link;
                },
                minLength: 3,
            }); 
         });

        })(this.jQuery);

           

</script>
<script type="text/javascript">
        (function($){
        

        $(document).ready(function(){

            $( '.sc-resumes #search_keywords' ).autocomplete({
                
                source: function(req, response){
                    $.getJSON('https://workscout.in/wp-admin/admin-ajax.php'+'?callback=?&action=workscout_incremental_resumes_suggest', req, response);
                },
                select: function(event, ui) {
                    window.location.href=ui.item.link;
                },
                minLength: 3,
            }); 
         });

        })(this.jQuery);

           

</script>
</body>

<!-- Mirrored from workscout.in/home-resumes/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Oct 2019 16:01:17 GMT -->
</html>
