<header class="default sticky-header" id="main-header">
    <div class="container">
        <div class="sixteen columns">
            <!-- Logo -->
            <div id="logo">
                <a href="/" rel="home" title="Crux">Crux</a>
            </div>
            <!-- Mobile Navigation -->
            <div class="mmenu-trigger">
                <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
            {% block nav %}
            {% include 'nav.twig' %}
            {% endblock %}
        </div>
    </div>
</header>