{% extends 'base.twig' %}

{% block content %}

<div class="workscout-search-banner jobs-search-banner  with-transparent-header parallax background " data-diff="300"
	 data-img-height="" data-img-width="" id="banner"
	 style="background-image: url(https://workscout.wpengine.com/wp-content/uploads/2017/06/banner-home-02.jpg);">
	<div class="container">
		<div class="sixteen columns">

			<div class="search-container sc-jobs">

				<!-- Form -->
				<h2>Find Job</h2>
				<form action="https://workscout.in/browse-jobs/" class="inputs-number-2" method="GET">


					<input class="ico-01" id="search_keywords" name="search_keywords"
						   placeholder="job title, keywords or company name" type="text" value=""/>

					<input class="ico-02" id="search_location" name="search_location"
						   placeholder="city, province or region" type="text" value=""/>


					<button><i class="fa fa-search"></i></button>

				</form>
				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Or browse job offers by <a href="browse-categories/index.html">category</a></div>

				<!-- Announce -->
				<div class="announce">
					We have <strong>23</strong> job offers for you!
				</div>
			</div>

		</div>
	</div>
</div>

<!-- 960 Container -->
<div class="container page-container home-page-container">
	<article class="sixteen columns post-9 page type-page status-publish hentry">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1521229758973">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper"><h3 class=" headline margin-top-0 margin-bottom-25 "
												 style="text-align:left;">Popular Categories</h3>
						<div class="categories-boxes-container">
							<!-- Box -->
							<a class="category-small-box" href="job-category/restaurant-food-service/index.html"> <i
									class="ln ln-icon-Plates"></i><h4>Restaurant / Food Service</h4><span>7</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/healthcare/index.html"> <i
									class="ln ln-icon-Medical-Sign"></i><h4>Healthcare</h4><span>5</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/telecommunications/index.html"> <i
									class="ln ln-icon-Communication-Tower2"></i><h4>Telecommunications</h4>
								<span>4</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/accounting-finance/index.html"> <i
									class="ln ln-icon-Bar-Chart"></i><h4>Accounting / Finance</h4><span>3</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/automotive-jobs/index.html"> <i
									class="ln ln-icon-Car-3"></i><h4>Automotive Jobs</h4><span>3</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/construction-facilities/index.html"> <i
									class="ln ln-icon-Worker"></i><h4>Construction / Facilities</h4><span>3</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/education-training/index.html"> <i
									class="ln ln-icon-Student-Female"></i><h4>Education Training</h4><span>2</span></a>
							<!-- Box -->
							<a class="category-small-box" href="job-category/transportation-logistics/index.html"> <i
									class="fa fa-globe"></i><h4>Transportation / Logistics</h4><span>2</span></a></div>
						<div class="margin-top-30"></div>
						<a class="button centered" href="browse-categories/index.html">Browse All Categories</a>
						<div class="margin-bottom-50"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row wpb_row vc_row-fluid vc_row-no-padding" data-vc-full-width="true"
			 data-vc-full-width-init="false" data-vc-stretch-content="true">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1521227854183  vc_custom_1521227854183">
							<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span
								class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row-full-width vc_clearfix"></div>
		<div class="vc_row wpb_row vc_row-fluid">
			<div class="wpb_column vc_column_container vc_col-sm-8">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper"><H3 class="margin-top-0 margin-bottom-25">Recent Jobs</H3>
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<div class="job_listings " data-categories="" data-job_types="" data-keywords=""
									 data-location="" data-order="DESC" data-orderby="featured" data-per_page="4"
									 data-show_filters="false" data-show_pagination="false">
									<!-- Listings Loader -->
									<div class="listings-loader">
										<div class="spinner">
											<div class="double-bounce1"></div>
											<div class="double-bounce2"></div>
										</div>
									</div>

									<ul class="job_listings job-list full  new-layout hide-desc">

										<!-- Listing -->
										<li data-color="#e12335" data-latitude="51.54327"
											data-longitude="-0.001870000000053551">
											<a class="left post-2489 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_region-miami job_listing_category-restaurant-food-service job_listing_type-temporary job-type-temporary job_position_featured"
											   data-color="#e12335" data-latitude="51.54327"
											   data-longitude="-0.001870000000053551"
											   href="job/restaurant-dishwasher/index.html">
												<div class="listing-logo">
													<img alt="King LLC" class="company_logo"
														 src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/company-logo.png"/>
												</div>
												<div class="listing-title">
													<h4>Restaurant Dishwasher
														<span class="job-type temporary">Temporary</span>

													</h4>
													<ul class="listing-icons">

														<li><i class="ln ln-icon-Management"></i> King LLC</li>

														<li><i class="ln ln-icon-Map2"></i> Miami</li>


														<li><i class="ln ln-icon-Money-2"></i>
															&#36;55000 - &#36;70000
														</li>

													</ul>

												</div>
											</a>
										</li>
										<!-- Listing -->
										<li data-color="#f1630d" data-latitude="53.3795271"
											data-longitude="-1.546126700000059">
											<a class="left post-2492 job_listing type-job_listing status-publish hentry job_listing_region-new-york job_listing_category-healthcare job_listing_type-part-time job-type-part-time"
											   data-color="#f1630d" data-latitude="53.3795271"
											   data-longitude="-1.546126700000059"
											   href="job/clinical-psychologist/index.html">
												<div class="listing-logo">
													<img alt="Rose Clinic" class="company_logo"
														 src="http://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/placeholder.png"/>
												</div>
												<div class="listing-title">
													<h4>Clinical psychologist
														<span class="job-type part-time">Part Time</span>

													</h4>
													<ul class="listing-icons">

														<li><i class="ln ln-icon-Management"></i> Rose Clinic</li>

														<li><i class="ln ln-icon-Map2"></i> New York</li>


														<li><i class="ln ln-icon-Money-2"></i>
															&#36;40000 - &#36;50000
														</li>

													</ul>

												</div>
											</a>
										</li>
										<!-- Listing -->
										<li data-color="#186fc9" data-latitude="40.7668893"
											data-longitude="-73.9790653">
											<a class="left post-2490 job_listing type-job_listing status-publish has-post-thumbnail hentry job_listing_region-new-york job_listing_category-healthcare job_listing_type-full-time job-type-full-time"
											   data-color="#186fc9" data-latitude="40.7668893"
											   data-longitude="-73.9790653"
											   href="job/senior-health-and-nutrition-advisor/index.html">
												<div class="listing-logo">
													<img alt="Telimed" class="company_logo"
														 src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/Untitled-1-Recovered-150x150_036a17cc6b1cbce4285ea7c4d6a34e16.png"/>
												</div>
												<div class="listing-title">
													<h4>Senior Health and Nutrition Advisor
														<span class="job-type full-time">Full Time</span>

													</h4>
													<ul class="listing-icons">

														<li><i class="ln ln-icon-Management"></i> Telimed</li>

														<li><i class="ln ln-icon-Map2"></i> New York</li>


														<li><i class="ln ln-icon-Money-2"></i>
															&#36;30000 - &#36;35000
														</li>

													</ul>

												</div>
											</a>
										</li>
										<!-- Listing -->
										<li data-color="#53b427" data-latitude="52.5318835"
											data-longitude="13.3883826">
											<a class="left post-2487 job_listing type-job_listing status-publish hentry job_listing_region-miami job_listing_category-market-customer-research job_listing_category-sales-marketing job_listing_type-freelance job-type-freelance"
											   data-color="#53b427" data-latitude="52.5318835"
											   data-longitude="13.3883826"
											   href="job/social-media-and-public-relation-executive/index.html">
												<div class="listing-logo">
													<img alt="Socielity" class="company_logo"
														 src="http://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/placeholder.png"/>
												</div>
												<div class="listing-title">
													<h4>Social Media and Public Relation Executive
														<span class="job-type freelance">Freelance</span>

													</h4>
													<ul class="listing-icons">

														<li><i class="ln ln-icon-Management"></i> Socielity</li>

														<li><i class="ln ln-icon-Map2"></i> Miami</li>


														<li><i class="ln ln-icon-Money-2"></i>
															&#36;15000
														</li>

													</ul>

												</div>
											</a>
										</li>

									</ul>


									<a class="load_more_jobs button centered" href="#"><i class="fa fa-plus-circle"></i>Show
										More Jobs</a>
									<div class="margin-bottom-55"></div>


								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container vc_col-sm-4">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<h3 class="margin-bottom-5">Job Spotlight</h3>
						<!-- Navigation -->
						<div class="showbiz-navigation">
							<div class="sb-navigation-left" id="showbiz_left_29"><i class="fa fa-angle-left"></i></div>
							<div class="sb-navigation-right" id="showbiz_right_29"><i class="fa fa-angle-right"></i>
							</div>
						</div>
						<div class="clearfix"></div>

						<!-- Showbiz Container -->
						<div class="job-spotlight-car showbiz-container" data-autoplay="off" data-delay="5000"
							 data-visible="[1,1,1,1]" id="job-spotlight">
							<div class="showbiz" data-left="#showbiz_left_29" data-play="#showbiz_play_29"
								 data-right="#showbiz_right_29">
								<div class="overflowholder">
									<ul>
										<li>
											<div class="job-spotlight">
												<a href="job/clinical-psychologist/index.html"><h4>Clinical psychologist
													<span class="job-type part-time">Part Time</span>
												</h4></a>

												<span class="ws-meta-company-name"><i class="fa fa-briefcase"></i> Rose Clinic</span>

												<span class="ws-meta-job-location"><i class="fa fa-map-marker"></i>  New York</span>

												<span class="ws-meta-rate">
                                        <i class="fa fa-money"></i>
                                        &#36;15- &#36;25 / hour                                    </span>


												<span class="ws-meta-salary">
                                        <i class="fa fa-money"></i>
                                        &#36;40000  - &#36;50000                                    </span>


												<p>The successful individual will be working within a small treatment
													service with patients that have either Learning Disabilities and/or
													mental ...
												</p>
												<a class="button" href="job/clinical-psychologist/index.html">Apply For
													This Job</a>
											</div>
										</li>
										<li>
											<div class="job-spotlight">
												<a href="job/senior-health-and-nutrition-advisor/index.html"><h4>Senior
													Health and Nutrition Advisor
													<span class="job-type full-time">Full Time</span>
												</h4></a>

												<span class="ws-meta-company-name"><i class="fa fa-briefcase"></i> Telimed</span>

												<span class="ws-meta-job-location"><i class="fa fa-map-marker"></i>  New York</span>

												<span class="ws-meta-rate">
                                        <i class="fa fa-money"></i>
                                        &#36;25- &#36;35 / hour                                    </span>


												<span class="ws-meta-salary">
                                        <i class="fa fa-money"></i>
                                        &#36;30000  - &#36;35000                                    </span>


												<p>Offer strategic and technical health and nutrition advice to
													headquarters and field staff, as well as training and coaching
													Telimed ...
												</p>
												<a class="button"
												   href="job/senior-health-and-nutrition-advisor/index.html">Apply For
													This Job</a>
											</div>
										</li>
										<li>
											<div class="job-spotlight">
												<a href="job/social-media-and-public-relation-executive/index.html"><h4>
													Social Media and Public Relation Executive
													<span class="job-type freelance">Freelance</span>
												</h4></a>

												<span class="ws-meta-company-name"><i class="fa fa-briefcase"></i> Socielity</span>

												<span class="ws-meta-job-location"><i class="fa fa-map-marker"></i>  Miami</span>

												<span class="ws-meta-rate">
                                        <i class="fa fa-money"></i>
                                        &#36;25- &#36;35 / hour                                    </span>


												<span class="ws-meta-salary">
                                        <i class="fa fa-money"></i>
                                        &#36;15000                                     </span>


												<p>The Social Media &amp; PR Executive will be responsible for
													increasing hotel marketing communication across a variety of social
													media ...
												</p>
												<a class="button"
												   href="job/social-media-and-public-relation-executive/index.html">Apply
													For This Job</a>
											</div>
										</li>

									</ul>
									<div class="clearfix"></div>

								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1521210767063 vc_row-has-fill vc_row-no-padding"
			 data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper"><h3 class="centered headline margin-top-0 margin-bottom-25 "
												 style="text-align:center;">What Our Users Say 😍<span
							class="margin-top:25px;">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</span>
					</h3>
						<!-- Testimonials Carousel -->
						<div class="fullwidth-carousel-container margin-top-20">
							<div class="testimonial-carousel testimonials">

								<!-- Item -->
								<div class="fw-carousel-review">

									<div class="testimonial-box">
										<div class="testimonial"><p>I have already heard back about the internship I
											applied through WorkScout, that&#8217;s the fastest job reply I&#8217;ve
											ever gotten and it&#8217;s so much better than waiting weeks to hear
											back.</p>
										</div>
									</div>
									<div class="testimonial-author">
										<img alt="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
											 height="130" sizes="(max-width: 130px) 100vw, 130px"
											 src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-03.png"
											 srcset="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-03.png 130w, https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-03-100x100.png 100w"
											 width="130"/>                    <h4>John Smith <span>Jobseeker</span></h4>
									</div>
								</div>
								<!-- Item -->
								<div class="fw-carousel-review">

									<div class="testimonial-box">
										<div class="testimonial"><p>Nam eu eleifend nulla. Duis consectetur sit amet
											risus sit amet venenatis. Pellentesque pulvinar ante a tincidunt placerat.
											Donec dapibus efficitur arcu, a rhoncus lectus egestas elementum.</p>
										</div>
									</div>
									<div class="testimonial-author">
										<img alt="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
											 height="130" sizes="(max-width: 130px) 100vw, 130px"
											 src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-01.png"
											 srcset="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-01.png 130w, https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-01-100x100.png 100w"
											 width="130"/>                    <h4>Tom Wilson <span>HR Specialist</span>
									</h4>
									</div>
								</div>
								<!-- Item -->
								<div class="fw-carousel-review">

									<div class="testimonial-box">
										<div class="testimonial"><p>Nam eu eleifend nulla. Duis consectetur sit amet
											risus sit amet venenatis. Pellentesque pulvinar ante a tincidunt placerat.
											Donec dapibus efficitur arcu, a rhoncus lectus egestas elementum.</p>
										</div>
									</div>
									<div class="testimonial-author">
										<img alt="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
											 height="130" sizes="(max-width: 130px) 100vw, 130px"
											 src="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-02.png"
											 srcset="https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-02.png 130w, https://39sf152pf74z2negmt1gi8ik-wpengine.netdna-ssl.com/wp-content/uploads/2015/10/resumes-list-avatar-02-100x100.png 100w"
											 width="130"/>                    <h4>Anna Smith <span>Jobseeker</span></h4>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row-full-width vc_clearfix"></div>
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1521201754193 vc_row-has-fill vc_row-no-padding"
			 data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<!-- Flip banner -->
						<a class="flip-banner parallax"
						   data-background="https://workscout.in/wp-content/uploads/2018/03/all-categories-photo.jpg"
						   data-color="#26ae62" data-color-opacity="0.92" data-img-height="1600" data-img-width="2500"
						   href="#">

							<div class="flip-banner-content">
								<h2 class="flip-visible">Step inside and see for yourself!</h2>
								<h2 class="flip-hidden">Get Started <i class="fa fa-angle-right"></i></h2>
							</div>
						</a>
						<!-- Flip banner / End -->
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row-full-width vc_clearfix"></div>
	</article>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	(function($){


	$(document).ready(function(){

		$( '.sc-jobs #search_keywords' ).autocomplete({

			source: function(req, response){
				$.getJSON('https://workscout.in/wp-admin/admin-ajax.php'+'?callback=?&action=workscout_incremental_jobs_suggest', req, response);
			},
			select: function(event, ui) {
				window.location.href=ui.item.link;
			},
			minLength: 3,
		});
	 });

	})(this.jQuery);

</script>
<script type="text/javascript">
	(function($){
	$(document).ready(function(){

		$( '.sc-resumes #search_keywords' ).autocomplete({

			source: function(req, response){
				$.getJSON('https://workscout.in/wp-admin/admin-ajax.php'+'?callback=?&action=workscout_incremental_resumes_suggest', req, response);
			},
			select: function(event, ui) {
				window.location.href=ui.item.link;
			},
			minLength: 3,
		});
	 });

	})(this.jQuery);

</script>
{% endblock %}