<!-- Menu -->
<nav class="menu" id="navigation">
    <ul class="menu" id="responsive">
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2859"
            id="menu-item-2859"><a href="#">For Candidates</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2882"
                    id="menu-item-2882"><a href="/my-tests">My Tests</a></li>
            </ul>
        </li>
        {% if 'business-owner' in roles or 'business-employee' in roles %}
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2860"
            id="menu-item-2860"><a href="#">For Employers</a>
            <ul class="sub-menu">
                {% if 'business-owner' in roles %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2889"
                    id="menu-item-2889"><a href="/business/admin/dashboard">Admin Dashboard</a></li>
                {% endif %}
                {% if 'business-employee' in roles %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2888"
                    id="menu-item-2888"><a href="/business/work/dashboard">Employee Dashboard</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    </ul>
    <ul class="float-right">
        {% if is_logged_in %}
        <li><a href="/profile/"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="/auth/logout/"><i class="fa fa-power-off"></i> Log Out</a></li>
        {% else %}
        <li><a class="small-dialog popup-with-zoom-anim" href="#signup-dialog"><i
                class="fa fa-user"></i> Sign Up</a></li>
        <li><a class="small-dialog popup-with-zoom-anim" href="#login-dialog" id="login-link"><i
                class="fa fa-lock"></i>
            Log In</a></li>
        {% endif %}
    </ul>
</nav>